* {
  box-sizing: border-box;
}

.serve {
  background: white;
  padding: 120px 20px;
}

.serve-container {
  max-width: 1100px;
  margin: 0 auto;
}

.serve-header {
  text-align: center;
  max-width: 750px;
  margin: 0 auto 60px;
}

.serve-tag {
  display: block;
  color: #2563eb;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.serve-title {
  text-align: center;
  color: #0f172a;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.serve-description {
  text-align: center;
  font-size: 17px;
  color: #475569;
  margin-bottom: 70px;
}

.serve-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  align-items: stretch;
}

.serve-card {
  border-radius: 24px;
  padding: 35px;
  text-align: center;
  height: 100%;
  transition: all 0.3s ease;
}

.serve-blue-card {
  background: #eff6ff;
  border: 1px solid #bfdbfe;
}

.serve-orange-card {
  background: #fffbeb;
  border: 1px solid #fed7aa;
}

.serve-icon {
  width: 60px;
  height: 60px;
  margin: 0 auto 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.serve-blue-card .serve-icon {
  border: 2px solid #bfdbfe;
  border-radius: 14px;
}

.serve-orange-card .serve-icon {
  border: 2px solid #fed7aa;
  border-radius: 14px;
}

.serve-card h3 {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 700;
  color: #0f172a;
  line-height: 1.4;
}

.serve-card p {
  color: #475569;
  line-height: 1.8;
  font-size: 14px;
}

.serve-card:hover {
  transform: translateY(-4px);
}

.serve-blue-card:hover {
  border: 2px solid #bfdbfe;
}

.serve-orange-card:hover{
  border: 2px solid #fed7aa;
}

.serve-card:hover .serve-icon {
  transform: scale(1.08);
}

@media (max-width: 1024px) {
  .serve-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .serve-grid {
    grid-template-columns: 1fr;
    padding: 30px;
  }

  .serve-title {
    font-size: 30px;
  }

  .serve-card p {
    font-size: 11px;
  }
}