* {
  box-sizing: border-box;
}

.hero {
  text-align: center;
  padding: 100px 20px 60px;
  margin-top: 0;
}

.hero-badge {
  display: inline-flex;
  align-items: center;
  background-color: rgba(37, 99, 235, 0.2);
  color: #60a5fa;
  padding: 3px 10px;
  border-radius: 999px;
  font-size: 14px;
  margin-bottom: 14px;
  border: 1px solid rgba(37, 99, 235, 0.4);
  font-weight: 500;
  gap: 8px;
  margin-top: 15px;
}

.hero-badge-icon {
  width: 16px;
  height: 16px;
}

.hero-title {
  color: white;
  font-size: 4rem;
  line-height: 1.1;
  margin-bottom: 14px;
  font-weight: 700;
}

.gradient-text {
  background: linear-gradient(90deg, #2563eb 10%, #fbbf24 50%, #f59e0b 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero-description {
  color: #94a3b8;
  font-size: 1rem;
  max-width: 700px;
  margin: 0 auto 20px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 60px;
}

.primary-button {
  background: linear-gradient(90deg, #2563eb, #f59e0b);
  padding: 14px 35px;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.2s ease;

}

.primary-button:hover {
  transform: scale(1.05) translateY(-2px);
  box-shadow: 0 8px 15px rgba(37, 99, 235, 0.3);
  background: linear-gradient(90deg, #5e80ef, #fcbb71);
}

.secondary-button {
  background: transparent;
  padding: 14px 35px;
  color: #94a3b8;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.secondary-button:hover {
  background: rgba(148, 163, 184, 0.1);
}

.hero-divider {
  width: 60%;
  height: 0.5px;
  margin: 0 auto;
  background: rgba(148, 163, 184, 0.15);
}

.hero-company {
 color: #64748b;
  font-size: 14px;
  margin: 30px 0px 24px;
  opacity: 1;
}

.hero-company-list {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  font-weight: semibold;
  color: #475569;
  font-size: 20px;
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .hero-description {
    font-size: 1rem;
  }

  .hero-buttons {
    flex-direction: column;
    width: 100%;
  }

  .hero-buttons button {
    width: 100%;
  }
}